#korisnici {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

#korisnici td, #korisnici th {
  border: 1px solid #ddd;
  padding: 8px;
}

#korisnici tr:nth-child(even){background-color: #f2f2f2;}

#korisnici tr:hover {background-color: #ddd;}

#korisnici th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #3f51b5;
  color: white;
}
