<mat-toolbar color="primary">
  <span>PIA2021</span>
  <span class="spacer"></span>
  <button mat-button routerLink='/agent'>Pocetna</button>
  <button mat-button routerLink='moje-nekretnine'>Moje nekretnine</button>
  <button mat-button [matMenuTriggerFor]="matMenu">Pregled</button>
  <mat-menu #matMenu>
    <button mat-menu-item routerLink='pregled-nekretnine'>Nekretnine</button>
    <button mat-menu-item routerLink='pregled-ponude'>Ponude</button>
  </mat-menu>
  <button mat-button routerLink='ugovori'>Ugovori</button>
  <button mat-button >Inbox</button>
  <button mat-button routerLink='profil'>Profil</button>
  <button mat-button (click)='odjava()'>Odjava</button>
</mat-toolbar>
