mat-form-field {
  width: 100%;
}

:host {
  text-align: center;
}

.radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
}

.profilna-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: 15px 0;
}

.profilna-container p {
  margin-top: 10px;
  margin-right: 15px;
}

mat-radio-button {
  margin: 5px;
}

mat-label {
  margin-right: 10px;
}

.poruka {
  color: red;
  padding: 10px 10px;
}

main {
  width: 50%;
  margin: 0 auto;
}
