<div>
  <div>
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
  </div>
</div>
<form>
  <mat-form-field>
    <input matInput type="number" placeholder="Cena od [$]" name="cenaOd" [(ngModel)]="cenaOd" min="0">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Cena do [$]" name="cenaDo" [(ngModel)]="cenaDo">
  </mat-form-field>
  <button mat-stroked-button color="primary" (click)="potvrdi()">Potvrdi</button>
  <!-- <p>{{cenaOd}} - {{cenaDo}}</p> -->
</form>
